*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: auto;
    /* border: 2px solid black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.img img{
    width: 50vw;
    height: auto;
    /* border: 2px solid yellow; */
}

.container-2{
   
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: auto;
    /* border: 2px solid red; */
    padding: 100px;
   margin-top: 50px;
}




.login{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: auto
}



.login p{
    margin-bottom: 0px;
    font-size: 13px;
    padding-left: 0px;
}

.login p input{
    margin: 0 5px;

}

.login h3{
    margin-top: 0px;
    margin-bottom: 7px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.cont-2{
    display: flex;
    flex-direction: column;
    /* border: 2px solid gray; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    margin-top: 0;
}


.cont-2 input{
        margin: 6px 0px;
        padding: 8px;
        /* border: 0.5px solid rgb(214, 214, 214); */
        border: none;
        border-radius: 2px;
        outline: none;
        border-bottom: 1px solid transparent;
       
        
}

.cont-2 input:hover {
    transition: border 0.3s ease;
    border-bottom: 1px solid blue;
  }





  



form p{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 0px;
    display: flex;
    /* justify-content: space-between; */
    
}

form h3{
    font-size: 25px;
}

#forgot_pass{
    color: blue;
    padding-left:11.5rem;
    cursor: pointer;
}

#logo{
    width: 22px;
    padding-right: 3px;
}

.btns{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    
}

.btn-1{
    margin: 5px 0px;
    width: 400px;
}

#login-btn{
  padding: 10px 168px;
  font-size: 14px;
  background-color: #d1bc00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#signup-btn{
    padding: 10px 120px;
    font-size: 14px;
    display: flex;
    background-color: #2D3748;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }


.last{
    text-align: center;
    margin-top: 85px;

}

.last :hover{
    text-decoration: underline;
    text-decoration-color: blue;
    cursor: pointer;
}
  
.last .below{
    color: blue;
}



/* Responsive CSS */
@media (max-width: 980px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .img img{
        width: 100vw;
        height: 50vh;
        /* border: 2px solid yellow; */
    }
    
    .container-2{
       
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
        /* border: 2px solid red; */
        padding: 20px;
        margin-top: 25px;
    }

    .login{
        /* background-size: cover; */
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        margin: auto;
        /* box-sizing: border-box; */
        /* border: 2px solid black; */
        /* padding: 10px 20px; */
    }
    
    
    
    .login p{
        margin-bottom: 0px;
        font-size: 12px;
        padding-left: 0px;
    }
    
    .login p input{
        margin: 0 5px;
    
    }
    
    .login h3{
        margin-top: 0px;
        margin-bottom: 7px;
    }
    
    
    
    .cont-2{
        display: flex;
        flex-direction: column;
        /* border: 2px solid gray; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 275px;
        margin-top: 0;
    }
    
    .cont-2 input{
    
            margin: 4px 0px;
            padding: 5px;
            border: 0.5px solid rgb(214, 214, 214);
    }

    
    form p{
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 8px 0px;
        display: flex;
        /* justify-content: space-between; */
        
    }
    
    #forgot_pass{
        color: blue;
        padding-left: 5rem;
        cursor: pointer;
    }
    
    #logo{
        width: 17px;
        padding-right: 3px;
    }
    
    .btns{
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        
    }
    
    .btn-1{
        margin: 5px 0px;
        width: 275px;
    }
    
    #login-btn{
      padding: 10px 108px;
      font-size: 12px;
      background-color: #04C35C;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    #signup-btn{
        padding: 10px 68px;
        font-size: 12px;
        display: flex;
        background-color: #2D3748;
        color: white;
        border: none;
        cursor: pointer;
      }
    
    
    .last{
        text-align: center;
        margin-top: 0px;
    
    }
    
     @media (max-width: 380px) {
        .container{
            display: flex;
            flex-direction: column;
        }
    
        .img img{
            width: 100vw;
            height: auto;
         }
        
        .container-2{
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: auto;
            padding: 20px 0px;
           margin-top: 5px;
        } 
        
    }

}
    